<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <h1>The cats are done processing your data. Your input was: <%= @input %></h1>
  <p><%= params %></p>
  <img width=500px; src="http://25.media.tumblr.com/tumblr_m452h0lsfJ1rt84fgo1_500.gif"/>
  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>
</div>