Post cool url page

<!-- <ul>
  <% self.instance_variables.each do |x| %>
    <li><%= x %></li>
  <% end %>
</ul>

<%=  @default_layout %><br>
<%=  @app %>
<%=  @template_cache %>
<%= @env %><br><br> -->
<%= self.env %>


